.styles_grecaptcha-badge__6o6Y_ {
    visibility: hidden
}

#styles_crisp-chatbox__VLshJ>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__VLshJ>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__P_Vqg {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__iuQdy {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__V1515 {
        display: none !important
    }
}

.styles_heading_1__S2S8F {
    margin: 0;
    font-family: PP Formula Condensed;
    font-weight: 400;
    line-height: 120%;
    font-weight: 100
}

@media(min-width:1200px) {
    .styles_heading_1__S2S8F {
        font-size: 8rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_heading_1__S2S8F {
        font-size: 6rem
    }
}

@media(max-width:899px) {
    .styles_heading_1__S2S8F {
        font-size: 4rem
    }
}

.styles_heading_2__1hnXA {
    margin: 0;
    font-family: PP Formula Condensed;
    font-weight: 400;
    line-height: 120%;
    font-weight: 100
}

@media(min-width:1200px) {
    .styles_heading_2__1hnXA {
        font-size: 6rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_heading_2__1hnXA {
        font-size: 4.5rem
    }
}

@media(max-width:899px) {
    .styles_heading_2__1hnXA {
        font-size: 3rem
    }
}

.styles_heading_3__tYxrH {
    margin: 0;
    font-family: PP Formula Condensed;
    font-weight: 400;
    line-height: 120%;
    font-weight: 300
}

@media(min-width:1200px) {
    .styles_heading_3__tYxrH {
        font-size: 4rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_heading_3__tYxrH {
        font-size: 3.125rem
    }
}

@media(max-width:899px) {
    .styles_heading_3__tYxrH {
        font-size: 2.25rem
    }
}

.styles_heading_4__SdcG6 {
    margin: 0;
    font-family: PP Formula Condensed;
    font-weight: 400;
    line-height: 120%;
    font-weight: 300
}

@media(min-width:1200px) {
    .styles_heading_4__SdcG6 {
        font-size: 3rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_heading_4__SdcG6 {
        font-size: 2.625rem
    }
}

@media(max-width:899px) {
    .styles_heading_4__SdcG6 {
        font-size: 2.25rem
    }
}

.styles_heading_5__H_9Ze {
    margin: 0;
    font-family: PP Formula Condensed;
    font-weight: 400;
    line-height: 120%;
    font-weight: 300
}

@media(min-width:1200px) {
    .styles_heading_5__H_9Ze {
        font-size: 2.5rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_heading_5__H_9Ze {
        font-size: 2.125rem
    }
}

@media(max-width:899px) {
    .styles_heading_5__H_9Ze {
        font-size: 1.875rem
    }
}

.styles_heading_6__9aU5C {
    margin: 0;
    font-family: PP Formula Condensed;
    font-weight: 400;
    line-height: 120%;
    font-weight: 300
}

@media(min-width:1200px) {
    .styles_heading_6__9aU5C {
        font-size: 2.25rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_heading_6__9aU5C {
        font-size: 1.875rem
    }
}

@media(max-width:899px) {
    .styles_heading_6__9aU5C {
        font-size: 1.5rem
    }
}

.styles_typography_heading_1__04qjl {
    margin: 0;
    font-family: PP Formula Condensed;
    font-style: normal;
    line-height: 120%;
    color: var(--color-black);
    font-weight: 100
}

@media(min-width:1200px) {
    .styles_typography_heading_1__04qjl {
        font-size: 8rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_typography_heading_1__04qjl {
        font-size: 6rem
    }
}

@media(max-width:899px) {
    .styles_typography_heading_1__04qjl {
        font-size: 4rem
    }
}

.styles_typography_heading_2__kRwpQ {
    margin: 0;
    font-family: PP Formula Condensed;
    font-style: normal;
    line-height: 120%;
    color: var(--color-black);
    font-weight: 300
}

@media(min-width:1200px) {
    .styles_typography_heading_2__kRwpQ {
        font-size: 4rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_typography_heading_2__kRwpQ {
        font-size: 3.5rem
    }
}

@media(max-width:899px) {
    .styles_typography_heading_2__kRwpQ {
        font-size: 3rem
    }
}

.styles_typography_heading_3__mabvx {
    margin: 0;
    font-family: PP Formula Condensed;
    font-style: normal;
    line-height: 120%;
    color: var(--color-black);
    font-weight: 300
}

@media(min-width:1200px) {
    .styles_typography_heading_3__mabvx {
        font-size: 3rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_typography_heading_3__mabvx {
        font-size: 2.625rem
    }
}

@media(max-width:899px) {
    .styles_typography_heading_3__mabvx {
        font-size: 2.25rem
    }
}

.styles_typography_heading_4__jSbct {
    margin: 0;
    font-family: PP Formula Condensed;
    font-style: normal;
    line-height: 120%;
    color: var(--color-black);
    font-weight: 300
}

@media(min-width:1200px) {
    .styles_typography_heading_4__jSbct {
        font-size: 2.5rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_typography_heading_4__jSbct {
        font-size: 2.75rem
    }
}

@media(max-width:899px) {
    .styles_typography_heading_4__jSbct {
        font-size: 1.875rem
    }
}

.styles_typography_heading_5__fjpNJ {
    margin: 0;
    font-family: PP Formula Condensed;
    font-style: normal;
    line-height: 120%;
    color: var(--color-black);
    font-weight: 300
}

@media(min-width:1200px) {
    .styles_typography_heading_5__fjpNJ {
        font-size: 2.25rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_typography_heading_5__fjpNJ {
        font-size: 1.875rem
    }
}

@media(max-width:899px) {
    .styles_typography_heading_5__fjpNJ {
        font-size: 1.5rem
    }
}

.styles_typography_heading_6__ZsZT1 {
    margin: 0;
    font-family: PP Formula Condensed;
    font-style: normal;
    line-height: 120%;
    color: var(--color-black);
    font-weight: 300
}

@media(min-width:1200px) {
    .styles_typography_heading_6__ZsZT1 {
        font-size: 2rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_typography_heading_6__ZsZT1 {
        font-size: 1.5rem
    }
}

@media(max-width:899px) {
    .styles_typography_heading_6__ZsZT1 {
        font-size: 1.125rem
    }
}

.styles_grecaptcha-badge__okKHy {
    visibility: hidden
}

#styles_crisp-chatbox__GVDas>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__GVDas>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__JsK_i {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__5J_eJ {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__VEvio {
        display: none !important
    }
}

.styles_banner_no_line__KGFY3 .styles_additional__ja5X_ {
    border-top: unset;
    padding-top: unset
}

@media(min-width:900px) {
    .styles_title__RakC2:not(:last-child) {
        margin-bottom: 1.25rem
    }
}

@media(max-width:899px) {
    .styles_title__RakC2:not(:last-child) {
        margin-bottom: 1.875rem
    }
}

.styles_additional__ja5X_ {
    width: 100%;
    display: flex;
    border-top: 1px solid rgba(var(--color-black--rgb), .2)
}

@media(min-width:900px) {
    .styles_additional__ja5X_ {
        padding-top: 2.5rem;
        justify-content: space-between
    }
}

@media(max-width:899px) {
    .styles_additional__ja5X_ {
        padding-top: 1.875rem;
        flex-direction: column-reverse
    }
}

.styles_additional__ja5X_:empty {
    display: none
}

.styles_btn__WQBh2 {
    margin-bottom: auto;
    margin-right: auto
}

@media(max-width:899px) {
    .styles_btn__WQBh2 {
        margin-top: 1.875rem
    }
}

.styles_description__sfwXp {
    font-size: 1rem;
    line-height: 140%;
    color: var(--color-grey-1350)
}

@media(min-width:900px) {
    .styles_description__sfwXp {
        flex: 0 0 50%
    }
}

.styles_grecaptcha-badge__CH3fS {
    visibility: hidden
}

#styles_crisp-chatbox__QxNtj>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__QxNtj>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__ow9On {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__3WmnE {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__ksDha {
        display: none !important
    }
}

.styles_outstanding_text__xs4yx {
    font-family: Rock Salt;
    font-weight: 400;
    font-style: normal
}

.styles_grecaptcha-badge__h__OP {
    visibility: hidden
}

#styles_crisp-chatbox__1f7XV>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__1f7XV>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__0q8Jt {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__rmxED {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__X710T {
        display: none !important
    }
}

.styles_breadcrumbs__a79Ym {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 3rem
}

@media(max-width:899px) {
    .styles_breadcrumbs__a79Ym:not(.styles_has_heading__mg5YB) {
        display: none
    }
}

.styles_list__2XEX3 {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-transform: capitalize
}

@media(max-width:899px) {
    .styles_list__2XEX3 {
        display: none
    }
}

.styles_list__2XEX3 li .styles_globalize__z7vwK {
    text-transform: none;
    display: inline-block
}

.styles_list__2XEX3 li:not(:first-child):before {
    content: "*";
    color: rgba(var(--color-black--rgb), .5);
    margin: 0 .25em;
    speak: none
}

.styles_list__2XEX3 a {
    position: relative;
    color: rgba(var(--color-black--rgb), .5);
    text-decoration: none
}

.styles_list__2XEX3 a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform .3s;
    transition-delay: 0s;
    transition-timing-function: ease
}

html:not(.v-mobile) .styles_list__2XEX3 a:hover:before {
    transform: scale(1) translateZ(0)
}

.styles_outstanding__fL5od {
    max-width: 30rem;
    width: 100%;
    line-height: 140%
}

@media(min-width:900px) {
    .styles_outstanding__fL5od {
        position: absolute;
        left: 50%;
        font-size: 1.5rem
    }
}

@media(max-width:899px) {
    .styles_outstanding__fL5od {
        font-size: .875rem
    }
}

.styles_label__fRSpJ {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .625rem
}

@media(max-width:899px) {
    .styles_label__fRSpJ {
        display: none
    }
}

.styles_grecaptcha-badge__tDFXR {
    visibility: hidden
}

#styles_crisp-chatbox__pjWn_>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__pjWn_>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__yRB57 {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__Ke88v {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__HiEEn {
        display: none !important
    }
}

.styles_link__4HQc6 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: .5rem;
    overflow: hidden
}

.styles_link__4HQc6:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background-color: var(--color-white);
    border-radius: .5rem
}

.styles_link__4HQc6:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background-color: var(--color-black);
    transform: translateY(100%);
    transition: transform .5s;
    transition-delay: 0s;
    transition-timing-function: ease
}

html:not(.v-mobile) .styles_link__4HQc6:hover:after {
    transform: translateY(0)
}

html:not(.v-mobile) .styles_link__4HQc6:hover .styles_label__PUbbA {
    filter: invert(100%)
}

.styles_label__PUbbA {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter .3s;
    transition-delay: 0s;
    transition-timing-function: ease
}

.styles_grecaptcha-badge__8VHbn {
    visibility: hidden
}

#styles_crisp-chatbox__p73zp>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__p73zp>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__6dOLW {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__WhgUm {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__qyeIo {
        display: none !important
    }
}

.styles_list__v8wEZ {
    margin: 0;
    padding: 0;
    list-style: none
}

.styles_list__v8wEZ.styles_is_vertical__MJkFi {
    display: grid;
    grid-gap: .375rem;
    gap: .375rem
}

.styles_list__v8wEZ.styles_is_horizontal__73pm_ {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}

.styles_list__v8wEZ.styles_is_horizontal__73pm_>*+* {
    margin-left: .375rem
}

.styles_grecaptcha-badge__CIxcQ {
    visibility: hidden
}

#styles_crisp-chatbox__B0I4v>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__B0I4v>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__9yu_R {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__CYyha {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide___A7_e {
        display: none !important
    }
}

.styles_title__6rQ53 {
    margin: 0;
    font-family: PP Formula Condensed;
    font-weight: 400;
    line-height: 120%;
    font-weight: 300
}

@media(min-width:1200px) {
    .styles_title__6rQ53 {
        font-size: 2.5rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_title__6rQ53 {
        font-size: 2.125rem
    }
}

@media(max-width:899px) {
    .styles_title__6rQ53 {
        font-size: 1.875rem
    }
}

@media(min-width:900px) {
    .styles_title__6rQ53 {
        margin-bottom: 2.5rem
    }
}

@media(max-width:899px) {
    .styles_title__6rQ53 {
        margin-bottom: 1.25rem
    }
}

@media(min-width:900px) {
    .styles_data__T1C_w {
        display: flex;
        column-gap: .625rem
    }
}

@media(max-width:899px) {
    .styles_data__T1C_w>*+* {
        margin-top: 10px
    }
}

@media(min-width:900px) {
    .styles_button__r5ipN {
        flex: 0 0 8.875rem
    }
}

.styles_grecaptcha-badge__BI7ZF {
    visibility: hidden
}

#styles_crisp-chatbox__klnfg>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__klnfg>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__VFeZs {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__NCryU {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__7QE0K {
        display: none !important
    }
}

.styles_item__J8fSh {
    position: relative;
    z-index: 0
}

.styles_item__J8fSh:not(:first-child) {
    margin-top: -1px
}

.styles_item__J8fSh.styles_is_hidden__Ew95T {
    display: none
}

.styles_item__J8fSh:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-grey-200)
}

@media(min-width:900px) {
    .styles_item__J8fSh:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 100%;
        transform: translate(-50%);
        background-color: var(--color-white);
        border-top: 1px solid var(--color-grey-200);
        border-bottom: 1px solid var(--color-grey-200);
        transition: opacity .5s;
        transition-delay: 0s;
        transition-timing-function: ease;
        opacity: 0
    }

    .styles_item__J8fSh.styles_active__APud9:after {
        opacity: 1
    }
}

.styles_container__mAy5a {
    position: relative;
    z-index: 1
}

@media(max-width:899px) {
    .styles_container__mAy5a {
        padding-bottom: 1.25rem
    }
}

.styles_container__mAy5a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-grey-200)
}

.styles_mark__7xNRS {
    position: relative;
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--color-grey-400);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

@media(max-width:899px) {
    .styles_mark__7xNRS.styles_mark_desktop__THpve {
        display: none
    }
}

@media(min-width:900px) {
    .styles_mark__7xNRS.styles_mark_phone__naJIi {
        display: none
    }
}

.styles_mark__7xNRS:after,
.styles_mark__7xNRS:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: var(--color-black);
    transition: transform .5s;
    transition-delay: 0s;
    transition-timing-function: ease
}

.styles_mark__7xNRS:after {
    transform: rotate(90deg)
}

.styles_mark__7xNRS.styles_active__APud9:after,
.styles_mark__7xNRS.styles_active__APud9:before {
    transform: rotate(180deg)
}

.styles_summary__etgRI {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: 0;
    background: transparent;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: left
}

@media(min-width:900px) {
    .styles_summary__etgRI {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0
    }
}

@media(max-width:899px) {
    .styles_summary__etgRI {
        padding: 1.25rem 0
    }
}

.styles_title__J8Dby {
    display: block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    color: var(--color-black);
    text-transform: uppercase
}

@media(min-width:900px) {
    .styles_title__J8Dby {
        padding-right: 2.5rem
    }

    .styles_details__qoNA5 {
        max-width: 77.777%;
        width: 100%
    }
}

.styles_description__Tzn5H {
    font-weight: 400;
    color: rgba(var(--color-black--rgb), .5)
}

@media(min-width:900px) {
    .styles_description__Tzn5H {
        padding-bottom: 2rem;
        font-size: 1rem;
        line-height: 160%
    }
}

@media(max-width:899px) {
    .styles_description__Tzn5H {
        padding-bottom: 1.25rem;
        font-size: .875rem;
        line-height: 140%
    }
}

.styles_grecaptcha-badge__eOXUL {
    visibility: hidden
}

#styles_crisp-chatbox__0iNim>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__0iNim>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__L8gQa {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__GCgPq {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__ntIzy {
        display: none !important
    }
}

@media(min-width:900px) {
    .styles_faq_list_container__d48Cf .styles_button__icV3J {
        display: flex;
        margin: 0 auto
    }
}

.styles_faq_list__xozp9 {
    margin: 0;
    padding: 0;
    list-style: none
}

@media(min-width:900px) {
    .styles_faq_list__xozp9 {
        margin-bottom: 2.5rem
    }
}

@media(max-width:899px) {
    .styles_faq_list__xozp9 {
        margin-bottom: 1.25rem
    }
}

.styles_grecaptcha-badge__isd6c {
    visibility: hidden
}

#styles_crisp-chatbox__5mTeM>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__5mTeM>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__lEf8N {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__8kGOS {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide___Ynyw {
        display: none !important
    }
}

.styles_title__OxJPE {
    margin: 0;
    font-family: PP Formula Condensed;
    font-weight: 400;
    line-height: 120%;
    font-weight: 100
}

@media(min-width:1200px) {
    .styles_title__OxJPE {
        font-size: 6rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_title__OxJPE {
        font-size: 4.5rem
    }
}

@media(max-width:899px) {
    .styles_title__OxJPE {
        font-size: 3rem
    }
}

@media(min-width:900px) {
    .styles_title__OxJPE {
        margin-bottom: 2.5rem
    }
}

@media(max-width:899px) {
    .styles_title__OxJPE {
        margin-bottom: 1.25rem
    }
}

.styles_grecaptcha-badge__qY4He {
    visibility: hidden
}

#styles_crisp-chatbox__UB8ua>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__UB8ua>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__u3Z2L {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__mVnre {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__FMmWL {
        display: none !important
    }
}

.styles_description__TjcCW {
    font-size: 1rem;
    line-height: 160%;
    color: var(--color-grey-1350)
}

@media(min-width:900px) {
    *+.styles_description__TjcCW {
        margin-top: 1.25rem
    }
}

@media(max-width:899px) {
    *+.styles_description__TjcCW {
        margin-top: 1.875rem
    }
}

.styles_image__YjPln {
    position: relative;
    width: 100%
}

@media(min-width:900px) {
    *+.styles_image__YjPln {
        margin-top: 1.875rem
    }
}

@media(max-width:899px) {
    *+.styles_image__YjPln {
        margin-top: 1.25rem
    }
}

.styles_image__wrapper__ztEym img {
    width: 100%;
    height: auto
}

.styles_image__description__bqib7 {
    margin: 1.25rem 0 0;
    font-size: .875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    color: var(--color-grey-800)
}

.styles_grecaptcha-badge__BaxS6 {
    visibility: hidden
}

#styles_crisp-chatbox___sapl>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox___sapl>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__8gzRb {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__Iq6U6 {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__xSfzJ {
        display: none !important
    }
}

.styles_anchor__PQbhl {
    line-height: 160%;
    text-decoration: none;
    color: var(--color-grey-800);
    transition: color .25s;
    transition-delay: 0s;
    transition-timing-function: ease
}

.styles_anchor__PQbhl.styles_active__2Em_P {
    color: var(--color-black)
}

.styles_anchor__PQbhl.styles_size_m__5zhSY {
    font-size: 1rem
}

.styles_anchor__PQbhl.styles_size_m__5zhSY span {
    border-bottom: 1px dotted transparent
}

.styles_anchor__PQbhl.styles_size_m__5zhSY.styles_active__2Em_P span {
    border-color: var(--color-grey-800)
}

.styles_anchor__PQbhl.styles_size_s__sk5eD {
    font-size: .875rem
}

.styles_grecaptcha-badge__Pzmzq {
    visibility: hidden
}

#styles_crisp-chatbox__6SrcX>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__6SrcX>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__fkAhu {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__aj4Zv {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__6nj6D {
        display: none !important
    }
}

.styles_title__XEG9h {
    margin: 0;
    font-family: PP Formula Condensed;
    font-weight: 400;
    line-height: 120%;
    font-weight: 300
}

@media(min-width:1200px) {
    .styles_title__XEG9h {
        font-size: 2.5rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_title__XEG9h {
        font-size: 2.125rem
    }
}

@media(max-width:899px) {
    .styles_title__XEG9h {
        font-size: 1.875rem
    }
}

@media(min-width:900px) {
    .styles_title__XEG9h {
        margin-bottom: 1.25rem
    }
}

@media(max-width:899px) {
    .styles_title__XEG9h {
        margin-bottom: .625rem
    }
}

.styles_list__FBtRe {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column
}

.styles_list__FBtRe>*+* {
    margin-top: .625rem
}

.styles_anchor__L3LmJ {
    font-size: 1rem;
    line-height: 160%;
    text-decoration: none
}

.styles_anchor__L3LmJ span {
    border-bottom: 1px dotted transparent;
    transition: color .3s, border .3s;
    transition-delay: 0s;
    transition-timing-function: ease;
    color: var(--color-grey-800)
}

.styles_anchor__L3LmJ.styles_active__MBowC span {
    border-color: var(--color-grey-800);
    color: var(--color-black)
}

.styles_subtitles__U4CQP {
    margin: 0;
    list-style: none;
    padding: .875rem 1.25rem .25rem
}

@media(min-width:900px) {
    .styles_subtitles__U4CQP:not(.styles_active__MBowC) {
        display: none
    }
}

.styles_subtitles__U4CQP>*+* {
    margin-top: .625rem
}

.styles_grecaptcha-badge__4DX4Z {
    visibility: hidden
}

#styles_crisp-chatbox__RkUb7>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__RkUb7>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__ptMS4 {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__9req_ {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__Xm1Ut {
        display: none !important
    }
}

.styles_banner__120WI {
    position: relative;
    border-radius: .625rem;
    overflow: hidden;
    transform: translateZ(0);
    background-color: var(--color-white)
}

@media(min-width:1200px) {
    .styles_banner__120WI {
        padding: 2.5rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_banner__120WI {
        padding: 3.125rem 1.875rem
    }
}

@media(max-width:899px) {
    .styles_banner__120WI {
        padding: 3.75rem 1.25rem
    }
}

.styles_image__nFI_8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media(orientation:portrait) {
    .styles_image__nFI_8 .styles_image_landscape__DLpRX {
        display: none
    }
}

@media(orientation:landscape) {
    .styles_image__nFI_8 .styles_image_portrait__dt7aA {
        display: none
    }
}

.styles_content__pt9zl {
    position: relative;
    max-width: 23.5rem
}

.styles_content__pt9zl *+.styles_description__enKWX {
    margin-top: .625rem
}

.styles_content__pt9zl *+.styles_link__fiy1n {
    margin-top: 1.25rem
}

.styles_title___r09M {
    margin: 0;
    font-family: PP Formula Condensed;
    font-weight: 400;
    line-height: 120%;
    font-weight: 300
}

@media(min-width:1200px) {
    .styles_title___r09M {
        font-size: 2.5rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_title___r09M {
        font-size: 2.125rem
    }
}

@media(max-width:899px) {
    .styles_title___r09M {
        font-size: 1.875rem
    }
}

.styles_description__enKWX {
    font-size: 1rem;
    line-height: 160%;
    font-weight: 400;
    color: var(--color-grey-1350)
}

.styles_grecaptcha-badge__oqREv {
    visibility: hidden
}

#styles_crisp-chatbox__0R6gO>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__0R6gO>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__8Ittf {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__hoT6g {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__MGQwu {
        display: none !important
    }
}

.styles_container__EAgwL {
    border-bottom: 1px solid var(--color-grey-200)
}

@media(min-width:900px) {
    .styles_container__EAgwL {
        padding-bottom: 5rem
    }
}

@media(max-width:899px) {
    .styles_container__EAgwL {
        padding-bottom: 1.875rem
    }
}

.styles_img__YrZCh {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: .625rem;
    transform: translateZ(0)
}

@media(min-width:900px) {
    .styles_img__YrZCh {
        margin-bottom: 2.5rem
    }
}

@media(max-width:899px) {
    .styles_img__YrZCh {
        margin-bottom: 1.875rem
    }
}

.styles_img__container__ArJ2Z {
    padding-top: 56.296%
}

@media(max-width:899px)and (max-width:530px) {
    .styles_img__container__ArJ2Z {
        padding-top: 143.283%
    }
}

.styles_content__1gaje {
    display: flex
}

@media(min-width:900px) {
    .styles_content__1gaje {
        justify-content: space-between
    }
}

@media(max-width:899px) {
    .styles_content__1gaje {
        flex-direction: column-reverse
    }
}

@media(min-width:900px) {
    .styles_content_main__IHied {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(66.666% - 2.5rem);
        margin-right: 2.5rem
    }
}

@media(max-width:899px) {
    .styles_content_main__IHied {
        margin-top: 1.875rem
    }
}

@media(min-width:1200px) {
    .styles_content_main__IHied>*+* {
        margin-top: 5rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_content_main__IHied>*+* {
        margin-top: 4.375rem
    }
}

@media(max-width:899px) {
    .styles_content_main__IHied>*+* {
        margin-top: 3.75rem
    }
}

@media(min-width:900px) {
    .styles_aside__xq8vN {
        position: relative;
        flex: 0 0 33.333%
    }

    .styles_aside__container__Sp860 {
        position: -webkit-sticky;
        position: sticky;
        top: 2.5rem;
        left: 0;
        width: 100%;
        border-left: .0625rem solid var(--color-grey-200);
        padding-left: 2.5rem
    }
}

@media(max-width:899px) {
    .styles_aside__container__Sp860 {
        border-bottom: 1px solid var(--color-grey-200);
        padding-bottom: 1.875rem
    }
}

@media(min-width:1200px) {
    .styles_aside__children__KqAyG {
        margin-top: 2.5rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_aside__children__KqAyG {
        margin-top: 2.25rem
    }
}

@media(max-width:899px) {
    .styles_aside__children__KqAyG {
        margin-top: 1.875rem
    }
}

.styles_grecaptcha-badge__oJpX2 {
    visibility: hidden
}

#styles_crisp-chatbox__cM39u>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__cM39u>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__ceNrE {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__7xY81 {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__dBq9U {
        display: none !important
    }
}

.styles_readtime__R4p17 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}

.styles_readtime__R4p17 svg {
    width: 1.25rem;
    height: auto;
    margin-right: 5px
}

.styles_readtime__R4p17 span {
    margin-left: .25em
}

.styles_grecaptcha-badge__UJAu1 {
    visibility: hidden
}

#styles_crisp-chatbox__Qclk7>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__Qclk7>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__Cf7sq {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__To_V6 {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__1D4W9 {
        display: none !important
    }
}

.styles_date_container__cQOzv {
    position: relative
}

.styles_date_container__cQOzv .styles_tooltip__WjQLC {
    transition: visibility .35s, opacity .35s;
    transition-delay: 0s;
    transition-timing-function: ease;
    opacity: 0;
    visibility: hidden
}

.styles_date_container__cQOzv:hover .styles_tooltip__WjQLC {
    visibility: visible;
    opacity: 1
}

.styles_date__PHNRA {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}

.styles_date__PHNRA img {
    margin-right: 5px
}

.styles_tooltip__WjQLC {
    position: absolute;
    bottom: calc(100% + 16px);
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-white);
    line-height: 140%;
    font-weight: 400;
    color: var(--color-grey-800)
}

@media(min-width:900px) {
    .styles_tooltip__WjQLC {
        font-size: 1rem
    }
}

@media(max-width:899px) {
    .styles_tooltip__WjQLC {
        font-size: .9375rem
    }
}

.styles_tooltip__WjQLC:after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 100%;
    left: 50%;
    margin: -6px 0 0 -6px;
    background-color: var(--color-white);
    border-radius: 2px;
    transform: rotate(-45deg)
}

.styles_grecaptcha-badge__9WaJI {
    visibility: hidden
}

#styles_crisp-chatbox__6LY37>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__6LY37>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__uwxtT {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__Y84IS {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__2xzK9 {
        display: none !important
    }
}

.styles_container__RZVqZ {
    display: flex;
    border-bottom: 1px solid var(--color-grey-200);
    padding-bottom: 1.875rem
}

@media(min-width:900px) {
    .styles_container__RZVqZ {
        justify-content: space-between;
        align-items: flex-end
    }
}

@media(max-width:899px) {
    .styles_container__RZVqZ {
        flex-direction: column-reverse;
        align-items: flex-start
    }
}

.styles_categories__mc6Yl {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap
}

@media(min-width:900px) {
    .styles_categories__mc6Yl {
        gap: .625rem
    }
}

@media(max-width:899px) {
    .styles_categories__mc6Yl {
        width: 100%;
        gap: .25rem
    }

    .styles_categories__item__IKEOq {
        flex-shrink: 0
    }
}

.styles_other__WIpR1 {
    display: flex;
    width: 100%;
    align-items: center;
    line-height: 140%;
    font-weight: 400;
    color: var(--color-grey-800)
}

@media(min-width:900px) {
    .styles_other__WIpR1 {
        justify-content: flex-end;
        font-size: 1rem
    }
}

@media(max-width:899px) {
    .styles_other__WIpR1 {
        justify-content: flex-start;
        margin-bottom: 1.25rem;
        font-size: .9375rem
    }
}

.styles_other__WIpR1>*+* {
    margin-left: 2.5rem
}

.styles_grecaptcha-badge__cfkbD {
    visibility: hidden
}

#styles_crisp-chatbox__oCLbm>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__oCLbm>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__YsRDy {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__yvemA {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__bLses {
        display: none !important
    }
}

.styles_item___obZq {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-decoration: none
}

@media(min-width:900px) {
    .styles_item___obZq.styles_first__ASZ2K {
        grid-column: 1/-1;
        flex-direction: row
    }

    .styles_item___obZq.styles_first__ASZ2K .styles_container__ytVEI {
        margin-top: 0
    }
}

.styles_image__o3ZCi {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: .625rem;
    transform: translateZ(0)
}

@media(min-width:900px) {
    .styles_image__o3ZCi.styles_first__ASZ2K {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(50% - 1.25rem);
        margin-right: 2.5rem
    }
}

.styles_image__container___hZUr {
    height: 100%;
    transition: transform .8s;
    transition-delay: 0s;
    transition-timing-function: ease
}

.styles_image__container___hZUr:not(.styles_first__ASZ2K) {
    padding-top: 80.8%
}

@media(max-width:899px)and (max-width:550px) {
    .styles_image__container___hZUr:not(.styles_first__ASZ2K) {
        padding-top: 100%
    }
}

@media(min-width:900px) {
    .styles_image__container___hZUr.styles_first__ASZ2K {
        padding-top: 100%
    }
}

@media(max-width:899px) {
    .styles_image__container___hZUr.styles_first__ASZ2K {
        padding-top: 80.8%
    }
}

@media(max-width:899px)and (max-width:550px) {
    .styles_image__container___hZUr.styles_first__ASZ2K {
        padding-top: 100%
    }
}

html:not(.v-mobile) .styles_item___obZq:hover .styles_image__container___hZUr {
    transform: scale(1.1) rotate(5deg)
}

.styles_container__ytVEI {
    margin-top: .9375rem;
    border-bottom: 1px solid var(--color-grey-200);
    color: var(--color-grey-800)
}

@media(min-width:900px) {
    .styles_container__ytVEI {
        padding-bottom: 1.25rem
    }
}

@media(max-width:899px) {
    .styles_container__ytVEI {
        padding-bottom: 1rem
    }
}

@media(min-width:900px) {
    .styles_container__ytVEI.styles_first__ASZ2K {
        display: flex;
        flex-direction: column;
        width: 100%
    }
}

.styles_content__70F8A {
    flex: 1 0 auto;
    text-decoration: none;
    color: inherit
}

.styles_text_rows__Aj_Rq {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: .875rem;
    line-height: 140%
}

.styles_text_rows__Aj_Rq.styles_large__7FF5Z {
    font-size: 1rem
}

.styles_text_rows__Aj_Rq p {
    margin: 0
}

.styles_title_link__GRqca {
    text-decoration: none;
    color: inherit
}

.styles_title__LqfbV {
    font-family: PP Formula Condensed;
    font-weight: 400;
    margin: .9375rem 0 0;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 120%;
    color: var(--color-black)
}

.styles_title__LqfbV:not(.styles_first__ASZ2K) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

@media(min-width:900px) {
    .styles_title__LqfbV.styles_first__ASZ2K {
        font-size: 2.5rem
    }

    .styles_first__ASZ2K.styles_footer__j5K9I .styles_readtime__uoZkN {
        display: flex
    }
}

@media(max-width:899px) {
    .styles_first__ASZ2K.styles_footer__j5K9I .styles_readtime__uoZkN {
        display: none
    }
}

@media(min-width:900px) {
    .styles_first__ASZ2K .styles_readtime__uoZkN {
        display: none
    }
}

.styles_footer__j5K9I {
    margin-top: .9375rem
}

.styles_tags__kuVtj {
    margin: 0;
    text-transform: lowercase;
    color: var(--color-black)
}

.styles_tags__kuVtj a {
    text-decoration: none;
    color: inherit
}

html:not(.v-mobile) .styles_tags__kuVtj a:hover {
    text-decoration: underline
}

.styles_grecaptcha-badge__Zm0_x {
    visibility: hidden
}

#styles_crisp-chatbox__6VdwR>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__6VdwR>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide___zWZB {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide___DvFa {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__ekTgM {
        display: none !important
    }
}

.styles_title__lRyxX {
    margin: 0;
    font-family: PP Formula Condensed;
    font-weight: 400;
    line-height: 120%;
    font-weight: 100
}

@media(min-width:1200px) {
    .styles_title__lRyxX {
        font-size: 6rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_title__lRyxX {
        font-size: 4.5rem
    }
}

@media(max-width:899px) {
    .styles_title__lRyxX {
        font-size: 3rem
    }
}

@media(min-width:900px) {
    .styles_title__lRyxX {
        margin-bottom: 2.5rem
    }
}

@media(max-width:899px) {
    .styles_title__lRyxX {
        margin-bottom: 1.25rem
    }
}

.styles_list__15jVd {
    display: grid
}

@media(min-width:900px) {
    .styles_list__15jVd {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.5rem;
        margin-bottom: 2.5rem
    }
}

@media(max-width:899px) {
    .styles_list__15jVd {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1.875rem;
        margin-bottom: 1.25rem
    }
}

@media(min-width:900px) {
    .styles_more__xOKPo {
        display: flex;
        justify-content: center
    }
}

.styles_grecaptcha-badge__1sVu6 {
    visibility: hidden
}

#styles_crisp-chatbox__EyEI_>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__EyEI_>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__SFJ6_ {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__j1vXp {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__5fU7B {
        display: none !important
    }
}

.styles_author__6_PP4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: currentColor
}

.styles_image__fpwZc {
    flex-shrink: 0;
    position: relative;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%
}

.styles_image__fpwZc:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 1px solid var(--color-grey-100);
    outline: 1px solid var(--color-grey-400)
}

.styles_image__wrapper__zrAym {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
    transform: translateZ(0)
}

.styles_content__nYpwV {
    margin-left: .625rem
}

.styles_name__LLznL {
    margin: 0;
    font-family: PP Formula Condensed;
    font-style: normal;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 100%;
    color: var(--color-black)
}

.styles_job__QMK_R {
    margin: .25rem 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    color: var(--color-grey-800)
}

.styles_grecaptcha-badge__4hgmY {
    visibility: hidden
}

#styles_crisp-chatbox__ViYPs>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__ViYPs>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__kqUqL {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__88UhK {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__6zd_H {
        display: none !important
    }
}

.styles_authors__0xr_h {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -1.25rem 0 0
}

.styles_authors__0xr_h>* {
    margin-top: 1.25rem;
    margin-right: 1.25rem
}

.styles_grecaptcha-badge___c3U0 {
    visibility: hidden
}

#styles_crisp-chatbox__dKEHo>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__dKEHo>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__tIomy {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__WNQxV {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__tj_Yw {
        display: none !important
    }
}

.styles_rating_input__qULBt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}

.styles_rating_input__qULBt>*+* {
    margin-left: .5rem
}

.styles_star__o5cAR {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 8px;
    opacity: .4;
    transition: opacity .25s;
    transition-delay: 0s;
    transition-timing-function: ease
}

.styles_star__o5cAR path {
    transition: fill .25s;
    transition-delay: 0s;
    transition-timing-function: ease
}

.styles_star__o5cAR.styles_active__xFCdr {
    opacity: 1
}

.styles_star__o5cAR.styles_active__xFCdr path {
    fill: currentColor
}

.styles_star__o5cAR input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0
}

.styles_grecaptcha-badge__q7E3v {
    visibility: hidden
}

#styles_crisp-chatbox__Q9KLK>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__Q9KLK>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__E8bX1 {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__KULt6 {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__5ThgM {
        display: none !important
    }
}

.styles_article_rating__TW2YX {
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color-black);
    color: var(--color-white)
}

@media(min-width:1200px) {
    .styles_article_rating__TW2YX {
        padding: 5rem 2.5rem 2.5rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_article_rating__TW2YX {
        padding: 3.75rem 1.875rem 1.875rem
    }
}

@media(max-width:899px) {
    .styles_article_rating__TW2YX {
        padding: 1.875rem 1.25rem 2.25rem
    }
}

@media(min-width:900px) {
    .styles_article_rating__TW2YX {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        background-image: url(../media/bg.a78d309a.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain
    }
}

.styles_text__OYQAy {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%
}

.styles_rating__lQ_0Z>*+* {
    margin-top: .625rem
}

@media(max-width:899px) {
    .styles_results__eYZwM {
        margin-top: 1.875rem
    }
}

.styles_grecaptcha-badge__gFM3V {
    visibility: hidden
}

#styles_crisp-chatbox__lOVB_>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__lOVB_>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__zcpxn {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__H3GSh {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__4FVsw {
        display: none !important
    }
}

.styles_banner__BSQPl {
    position: relative;
    border-radius: .625rem;
    overflow: hidden;
    transform: translateZ(0);
    background-color: var(--color-white)
}

.styles_image__XamDp img {
    display: block
}

@media(max-width:899px) {
    .styles_image__XamDp .styles_image_desktop__V6MeA {
        display: none
    }
}

@media(min-width:900px) {
    .styles_image__XamDp .styles_image_phone__iSJBZ {
        display: none
    }
}

.styles_image__XamDp img {
    width: 100%;
    height: auto
}

.styles_content__RvnX5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center
}

@media(min-width:1200px) {
    .styles_content__RvnX5 {
        padding: 5rem 1.25rem 0
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_content__RvnX5 {
        padding: 4.375rem 1.25rem 0
    }
}

@media(max-width:899px) {
    .styles_content__RvnX5 {
        padding: 3.75rem 1.25rem 0
    }
}

.styles_content__RvnX5 *+.styles_link___EEdY {
    margin-top: 1.25rem
}

.styles_title__v4yV3 {
    margin: 0;
    font-family: PP Formula Condensed;
    font-weight: 400;
    line-height: 120%;
    font-weight: 300;
    line-height: 132%
}

@media(min-width:1200px) {
    .styles_title__v4yV3 {
        font-size: 2.5rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_title__v4yV3 {
        font-size: 2.125rem
    }
}

@media(max-width:899px) {
    .styles_title__v4yV3 {
        font-size: 2.25rem
    }
}

.styles_description__mu2Oa {
    font-size: 1rem;
    line-height: 160%;
    font-weight: 400;
    color: var(--color-grey-1350)
}

.styles_grecaptcha-badge__TwI7X {
    visibility: hidden
}

#styles_crisp-chatbox__pEXRn>div>a {
    bottom: 50px !important
}

#styles_crisp-chatbox__pEXRn>div>div {
    bottom: 115px !important
}

@media(min-width:1200px) {
    .styles_desktop-hide__iIGUF {
        display: none !important
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_tablet-hide__SGlq5 {
        display: none !important
    }
}

@media(max-width:899px) {
    .styles_phone-hide__g5uqp {
        display: none !important
    }
}

.styles_info__NBaFV {
    margin-top: 1.25rem
}

.styles_social_links__OJ8pu {
    margin: 1.25rem 0
}

.styles_social_links__OJ8pu.styles_is_fixed__C0HO_ {
    position: fixed;
    z-index: 7;
    top: 50%;
    left: var(--wrap)
}

@media(min-width:1200px) {
    .styles_social_links__OJ8pu.styles_is_fixed__C0HO_ {
        transform: translateY(-50%)
    }
}

.styles_authors__xAZRq {
    margin: 1.875rem 0
}

.styles_actions__JNB_y {
    border-top: 1px solid var(--color-grey-200)
}

@media(min-width:900px) {
    .styles_actions__JNB_y {
        padding-top: 2.5rem;
        margin-top: 5rem
    }

    .styles_actions__JNB_y>*+* {
        margin-top: 2.5rem
    }
}

@media(max-width:899px) {
    .styles_actions__JNB_y {
        padding-top: 1.875rem;
        margin-top: 3.75rem
    }

    .styles_actions__JNB_y>*+* {
        margin-top: 1.875rem
    }
}

@media(min-width:1200px) {
    .styles_faq__B0KI5 {
        margin-top: 7.5rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_faq__B0KI5 {
        margin-top: 5.625rem
    }
}

@media(max-width:899px) {
    .styles_faq__B0KI5 {
        margin-top: 3.75rem
    }
}

@media(min-width:1200px) {
    .styles_related__G7EsR {
        margin-top: 7.5rem
    }
}

@media(min-width:900px)and (max-width:1199px) {
    .styles_related__G7EsR {
        margin-top: 5.625rem
    }
}

@media(max-width:899px) {
    .styles_related__G7EsR {
        margin-top: 3.75rem
    }
}